<div>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="toolbar-spacer"></span>
        <button (click)="back()" color="primary" mat-button style="color: white">
          <mat-icon>arrow_back_ios</mat-icon>
          {{ 'main.button_back' | translate }}
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="app-form">
    <form (ngSubmit)="save(objForm.value)" [formGroup]="objForm!">
      <mat-form-field>
        <mat-label>{{ 'tag.tagName' | translate }}</mat-label>
        <textarea #inputTagName cdkAutosizeMaxRows="10" cdkTextareaAutosize formControlName="tagName" matInput maxlength="50" required></textarea>
        <mat-hint align="end">{{inputTagName.value.length || 0}}/50</mat-hint>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>{{ 'tag.tagDescription' | translate }}</mat-label>
        <textarea #inputTagDescription cdkAutosizeMaxRows="10"
                  cdkAutosizeMinRows="4"
                  cdkTextareaAutosize formControlName="tagDescription" matInput maxlength="255" required></textarea>
        <mat-hint align="end">{{inputTagDescription.value.length || 0}}/255</mat-hint>
      </mat-form-field>
      <button [disabled]="!objForm.valid" color="primary" mat-raised-button style="width: 200px">
        {{ 'main.button_save' | translate }}
      </button>
    </form>
  </div>
</div>
