<div>
  <div>
    <mat-toolbar *appIsInRole="'update'" color="primary">
      <span>
        <button (click)="add()" *appIsInRole="'update'" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
          {{'task.button_new' | translate}}
        </button>
      </span>
    </mat-toolbar>
  </div>
  <table [dataSource]="taskDataSource" class="mat-elevation-z8 tags-table" mat-table>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell style="text-align: end">
        <button (click)="edit(element)" *appIsInRole="'update'" color="primary" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element)" *appIsInRole="'update'" color="warn" mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
   
    <ng-container matColumnDef="taskName">
      <th *matHeaderCellDef mat-header-cell>{{'task.taskName' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.taskName}} </td>
    </ng-container>

    <ng-container matColumnDef="taskDescription">
      <th *matHeaderCellDef mat-header-cell>{{'task.taskDescription' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.taskDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th *matHeaderCellDef mat-header-cell>{{'task.dueDate' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.toDate | date:'dd.MM.yyyy'}} </td>
    </ng-container>
 
    <ng-container matColumnDef="processorData">
      <th *matHeaderCellDef mat-header-cell>{{'task.processor' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.processor?.processorId}} </td>
    </ng-container>
    
    <ng-container matColumnDef="topicData">
      <th *matHeaderCellDef mat-header-cell>{{'task.topic' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.topic?.topicId}} </td>
    </ng-container>

    <ng-container matColumnDef="tagData">
      <th *matHeaderCellDef mat-header-cell>{{'task.tag' | translate}}</th>
      <td *matCellDef="let element" mat-cell> {{element.tag?.tagId}} </td>
    </ng-container>


    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"
                 showFirstLastButtons>
  </mat-paginator>
</div>

